<!DOCTYPE html>
<html ng-app='winos'>
  <head>
    <meta charset="utf-8">
    <title>Winos</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWsQJmU3ga6-p_SwGkJT2Ro7shpx8QzQI&libraries=places"></script>
  </head>
  <body ng-controller='MainCtrl as main'>
    <nav class="navbar" role="navigation" aria-label="main navigation">
<!-- Nav Bar branding  -->
      <div class="navbar-brand">
        <a class="navbar-item" ui-sref="home">
          <img src="./assets/winoS.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" ng-click="main.toggleNav()" ng-class="{ 'is-active': main.navBarIsOpen }">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
<!-- Nav bar branding end -->
<!-- Nav bar items -->
      <div class="navbar-menu" ng-class="{ 'is-active': main.navBarIsOpen }">
        <div class="navbar-end">
          <a class="navbar-item" ui-sref='winesIndex'>All the wines</a>
          <a class="navbar-item" ui-sref='winesNew' ng-if = "main.isAuthenticated()">Add New Wine</a>
          <a class="navbar-item" ng-click="main.logout()" ng-if = "main.isAuthenticated()">Logout</a>
          <a class="navbar-item" ui-sref='register' ng-if = "!main.isAuthenticated()">Register</a>
          <a class="navbar-item" ui-sref='login' ng-if = "!main.isAuthenticated()">Login</a>
        </div>
      </div>
<!-- Nav bar items end-->
    </nav>
<!-- main body start -->
    <ui-view ng-if="main.isHome"></ui-view>
    <section class="section" ng-if="!main.isHome">
      <div class="container" ui-view></div>
    </section>
<!-- main body end -->
  </body>
</html>
