<div class="row">
  <h2>Create New album</h2>
  <form class="col l12" action="/albums" method="post">
    <div class="input-field col l12">
      <input type="text" name="name" id="name_field">
      <label for="name_field">Name</label>
    </div>
    <div class="input-field col l12">
      <input type="number" name="year" id="year_field" required>
      <label for="year_field">Year</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Creat New Album</button>
    </div>
  </form>
</div>
