
  <nav>
      <div class="nav-wrapper green accent-2">
        <div class="container">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/albums">Albums</a></li>
          <li><a href="/albums/new">Create New Album</a></li>
        </ul>
        </div>
      </div>
    </nav>
