
      <h1>Contact</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>

      <form>
        <label>Name</label>
        <input name="name" type="text">
        <br />
        <label>Email</label>
        <input name="email" type="text">
        <br />
        <input type="submit" value="Send">
      </form>
