footer {
  border-top: 5px solid #f5f5f5;
  text-align: center;
  line-height: 100px;
  height: 100px;
  background: #fff;
  p {
    @include text-styling;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    span {
      color: #E31F1F;
    }
  }
}
