header {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.15);
  z-index: 1;
  width: inherit;
  height: 80px;
  nav {
    ul {
        margin: 0 10px;
      li{
          display: inline-block;
          float: right;
          line-height: 60px;
          margin: 10px;
        &:first-child {
            float: left;
          a{
            font-weight: 700;
            color: #fff;
            font-size: 25px;
          }
        }
        a{
          text-decoration: none;
          color: #ccc;
          font-size: 20px;
          font-weight: 400;
          &:hover{
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}
