<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Intro-to-Express</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <% if(message){ %>
      <h1>
    <%= message %>
      </h1>
    <% } %>
  </body>
</html>
