<h1>Computers</h1>

<ul>
  <% computers.forEach(computer => { %>
      <li>
        <h3><%= computer.model %></h3>
        <h3><%= computer.brand %></h3>
        <p><%= computer.ram %></p>
      </li>
<% }) %>
</ul>
