<form ng-submit="winesNew.handleCreate()">
  <div class="field">
    <label for="grape">Grape</label>
    <input class="input" placeholder="Grape" name="grape" ng-model="winesNew.data.grape" />
  </div>
  <div class="field">
    <label for="brand">Brand</label>
    <input class="input" placeholder="Brand" name="brand" ng-model="winesNew.data.brand" />
  </div>
  <div class="field">
    <label for="vintage">Vintage</label>
    <input class="input" placeholder="Vintage" name="vintage" ng-model="winesNew.data.vintage" />
  </div>
  <div class="field">
    <label for="region">Region</label>
    <input class="input" placeholder="Region" name="region" ng-model="winesNew.data.region" />
  </div>
  <div class="field">
    <label for="country">Country</label>
    <input class="input" placeholder="Country" name="country" ng-model="winesNew.data.country" />
  </div>
  <div class="field">
    <label for="image">Image</label>
    <input class="input" placeholder="Image" name="image" ng-model="winesNew.data.image" />
  </div>

  <button class="button is-primary">Submit</button>
</form>
